/* Обнуление */
*,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h3,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
    font-size: calc(24px + 16 * (100vw / 1280));
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 16px;
    color: #141024;
    font-family: Jost;
}
body._lock {
    overflow: hidden;
}
html{
    scroll-behavior: smooth;
}
body.lock {
	overflow: hidden;
}
.wrapper {
    min-height: 100%;
    overflow: hidden;
}

._container {
    max-width: 1160px;
    padding: 0px 15px;
    margin: 0px auto;
}

/* Header */ 
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: #141024;
    z-index: 50;
}
.header__container {
    width: 100%;
    max-width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 30px;
}

.site-logo {
    line-height: 160%;
    font-size: 30px;
    font-weight: 700;
    color: white;
    transition: all 0.3s ease-in-out;
}

.site-logo:hover {
    color: #D52027;
}

.menu__icon{
    display: none;
}

.header__menu {
    
}

.menu {
    padding: 5px 0px;
}
.menu__list {
    flex-wrap: wrap;
    display: flex;
}
.menu__item {
    margin: 0px 0px 0px 40px;
}
.menu__link {
    color: white;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
    transition: all 0.3s ease-in-out;
}
.menu__link:hover {
    color: #D52027;
    
}

.site-phone{
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 160%;
    transition: all 0.3s ease-in-out;
}

.site-phone:hover {
    color: #D52027;
}

.site-phone::before {
    content: "";
    display: none;
    width: 44px;
    height: 44px;
    background: url("../img/Call.svg") no-repeat center;
    background-size: contain;
}

/* Main section */

.page {
    padding-top: 122px;
}
.banner {
    background-color: #141024;
    height: calc(100vh - 122px);
}
.banner__container {
}
.banner__content {
    position: relative;
    width: 100%;
    height: calc(100vh - 122px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.banner__title {
    width: 50%;
    color: #fff;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%;
}
.banner__text {
    width: 50%;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 160%;
}
.btn {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    border-radius: 5px;
    background-color: #D52027;
    display: inline-flex;
    padding: 25px 52px;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: rgb(213 32 39 / 50%);
}

.banner__img {
    position: absolute;
    bottom: 0;
    right: -60px;
    padding-top: 40px;
    height: 100%;
}

.banner__img img {
    width: auto;
    height: 100%;
    object-fit: contain;
}

/* About */

.about {
    padding-top: 120px;
    padding-bottom: 120px;
}
.about__container {
}
._container {
}
.about__text {
    margin-bottom: 60px;
    width: 75%;
    font-size: 30px;
    line-height: 160%; /* 48px */
}
.about__numbers {
    display: flex;
    gap: 40px;
}
.about__numbers-item {
    
}
.number {
    flex: 0 1 25%;
}
.number__title {
    color: #D52027;
    font-size: 70px;
    font-weight: 600;
    line-height: 160%; /* 112px */
}
.number__text {
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}

/* Title */

.section-title {
    color: #141024;
    font-size: 50px;
    font-weight: 600;
    line-height: 160%; /* 80px */
    margin-bottom: 60px;
}

/* Proft */

.profit {
    padding-top: 100px;
    padding-bottom: 100px;
    background: #F9F9F9;
}
.profit__text {
    margin-top: 20px;
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
}
.profit__course {
    display: flex;
    gap: 40px;
}
.profit__course-item {
    flex: 0 1 33.33%;
}
.profit__course-title {
    color: #141024;
    font-size: 24px;
    font-weight: 600;
    line-height: 160%;
}

.info {
    position: relative;
    display: inline-block;
}

.info__icon {
    position: absolute;
    top: 0px;
    right: -34px;
}

.info__block {
    visibility: hidden;
    opacity: 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 2px 8px 0px rgba(20, 16, 36, 0.10);
    padding: 15px 20px;
    position: absolute;
    width: 251px;
    top: 0;
    right: -10px;
    transform: translateX(100%) translateY(-68px);
    transition: all 0.3s ease-in-out;
    
}


.info:hover .info__block{
    visibility: visible;
    opacity: 1;
}



/* Teachers */

.teachers__swiper{
    padding-top: 120px;
    padding-bottom: 138px;
    background: #fff;
}
.teachers__container {
}
._container {
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}
.swiper-slide__inner {
}
.slide {
}
.slide__img {
    width: auto;
    height: 500px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
}
.slide__title {
    font-size: 24px;
    font-weight: 600;
    line-height: 160%; 
    margin-bottom: 10px;
}
.slide__text {
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    font-weight: 400;
    line-height: 160%; /* 28.8px */
    margin-bottom: 20px;
}
.slide__link {
    color: #D52027;
    font-size: 18px;
    line-height: 160%; /* 28.8px */
    transition: all 0.3s ease-in-out;
}

.slide__link:hover {
    text-decoration: underline;
}

.swiper__nav-wrapper {
    display: flex;
    justify-content: space-between;
}

.swiper__nav-scrollbar {
    width: 33.33%;
    position: relative;
}

.swiper__nav-arrows {
    display: flex;
    align-items: center;
    gap: 10px;
}

.slide__prev {
    cursor: pointer;
}
.slide__next {
    cursor: pointer;
}
.swiper-scrollbar {

}

/* Price */

.price {
    
}
.price__conatiner {
}
._container {
}
.price__title {
}
.section-title {
}
.price__wrapper {
    display: flex;
    gap: 40px;
    justify-content: space-between;
}
.price__block {
    width: 33.33%;
    border-radius: 20px;
    border: 1px solid rgba(20, 16, 36, 0.20);
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
}

.price__block:hover {
    background-color: #141024;
    color: #fff;
    transform: scale(1.1);
}

.price__block-title {
    font-size: 30px;
    font-weight: 600;
    line-height: 160%; /* 48px */
    margin-bottom: 63px;
}
.price__value {
    font-size: 50px;
    font-weight: 600;
    line-height: 160%; /* 80px */
    margin-bottom: 20px;
}
.price__text {
    font-size: 18px;
    line-height: 160%; /* 28.8px */
    text-align: center;
    margin-bottom: 61px;
}

/* Form */

.subscribe {
    padding: 87px 0;
    background-color: #D52027;
    margin-top: 140px;
}

.subscribe__container {
    display: flex;
    gap: 144px;
}
.subcribe__content {
    width: 50%;
}
.subscribe__title {
    color: #FFF;
    font-size: 36px;
    font-weight: 600;
    line-height: 130%; /* 46.8px */
    margin-bottom: 20px;
    margin-top: 20px;
}
.subscribe__text {
    color: #FFF;
    font-size: 20px;
    line-height: 130%; /* 26px */
}
.subscribe__form {
    width: 50%;
}

.form__input {
    width: 100%;    
    margin-bottom: 10px;
    
}

.form__input input {
    border-radius: 5px;
    background: #F6F6F6;
    height: 64px;
    width: 100%;
    color: rgba(40, 41, 68, 0.70);
    font-size: 18px;
    padding: 19px 20px;
}

.subscribe__btn {
    display: block;
    width: 100%;
    height: 64px;
    border-radius: 5px;
    background-color: #141024;
    color: #FFF;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.subscribe__btn:hover {
    background-color: rgb(20 16 36 / 80%);
    
}

/* Footer */

.footer {
    background-color: #141024;
    padding: 40px 100px;
}
.footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer__content {
}
.footer__logo {
}
.site-logo {
}
.footer__copyright {
    flex: 0 1 100%;
    color: rgba(255, 255, 255, 0.70);
    font-size: 16px;
    line-height: 160%; /* 25.6px */
    margin-top: 5px;
    
}
.footer__phone {
}
.header__phone {
}
.site-phone {
}

/* Modal */

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 16, 36, 0.10);
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}

.popup.open {
    opacity: 1;
    visibility: visible;
}

.popup.open .popup__content {
    transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
    opacity: 1;
}

.popup__area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;

}
.popup__content {
    background-color: #fff;
    color: #000;
    max-width: 800px;
    padding: 30px;
    position: relative;
    transition: all 0.8s ease 0s;
    opacity: 0;
    transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    width: 940px;
    height: 768px;
    border-radius: 20px;
}
.popup__close {
    position: absolute;
    right: 40px;
    top: 40px;
    font-size: 18px;
    color: rgba(20, 16, 36, 0.70);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.popup__close:hover {
    color: #141024;
}
.popup__close::before {
    content: '';
    display: none;
    width: 40px;
    height: 40px;
    background-image: url(../img/CloseAdaptive.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.popup__header {
    display: flex;
    gap: 40px;
}

.popup__header-image img {
    width: 160px;
    height: 222px;
    border-radius: 20px;
}

.popup__header-text h4{
    font-size: 24px;
    font-weight: 600;
    line-height: 160%; /* 38.4px */
    margin-bottom: 10px;
}

.popup__header-text p{
    color: rgba(20, 16, 36, 0.70);
    font-size: 18px;
    line-height: 160%; /* 28.8px */
    margin-bottom: 10px;
}

.popup__header-link {
    margin-right: 10px;
}

/* Tabs */

.popup__tabs {
    margin-top: 20px;
}
.tabs {

}
.tabs__items {
    display: flex;
    border-bottom: 1px solid rgba(20, 16, 36, 0.11);
    margin-bottom: 20px;
}
.tabs__item {
    flex: 0 1 33.333%;
    display: flex;
    align-items: center;
    color: rgba(20, 16, 36, 0.7);
    font-size: 20px;
    line-height: 160%; /* 32px */
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

.tabs__item:not(.active):hover {
    color: #141024;
}

.tabs__body{
    padding: 0 20px 0 0;
    color: #141024;
    font-size: 20px;
    line-height: 160%; /* 32px */
    overflow-y: auto;
    max-height: 345px;
}
.tabs__block {
    position: relative;
}


/* .tabs__block::before {
    content: "";
    height: 1px;
    width: 33.333%;
    position: absolute;
    top: -20px;
    border-top: 1px solid #D52027;
} */

/* .tabs__block:nth-child(1)::before {
    left: 0;
}

.tabs__block:nth-child(2)::before {
    left: 33.333%;
}

.tabs__block:nth-child(3)::before {
    right: 0;
} */

.active {
    color:#D52027;
} 

.tabs__body::-webkit-scrollbar {
    width: 5px;
}

.tabs__body::-webkit-scrollbar-track {
    background: #d4d4d4;
    border-radius: 40px;
}

.tabs__body::-webkit-scrollbar-thumb {
    background: #141024;
    border-radius: 40px;
}

/* */

@media (min-width: 767px) {
    .menu__list {
        display: flex;
        align-items: center;
    }

    .menu__list > li {
        padding: 10px 0;
    }
}


@media (max-width: 1160px) {
    .page {
        padding-top: calc(78px + (100 - 78) * ((100vw - 320px) / (1160 - 320)));
    }
    .header__container {
        padding-top: calc(17px + (30 - 17) * ((100vw - 320px) / (1160 - 320)));     
        padding-bottom: calc(17px + (30 - 17) * ((100vw - 320px) / (1160 - 320)));  
        padding-right: 15px;
        padding-left: 15px;
    }
    .menu__item {
        margin: 0px 10px 0px 10px;
    }
    .site-logo {
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1160 - 320)));
    } 
    .site-phone {
        font-size: calc(18px + (30 - 18) * ((100vw - 320px) / (1160 - 320)));
    }
    .banner__title {
        font-size: calc(30px + (70 - 30) * ((100vw - 320px) / (1160 - 320)));
    }
    .banner__text {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .btn {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .banner__img {
        height: 90%;
    }
    .about {
        padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1160 - 320)));
        padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1160 - 320)));
    }
    .about__text {
        width: 100%;
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .number__title {
        font-size: calc(60px + (70 - 60) * ((100vw - 320px) / (1160 - 320)));
    }
    .number__text {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .section-title {
        font-size: calc(30px + (50 - 30) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .profit {
        padding-top: calc(40px + (100 - 40) * ((100vw - 320px) / (1160 - 320)));
        padding-bottom: calc(40px + (100 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .profit__course-title {
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1160 - 320)));
    }
    .profit__text {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .info__block {
        width: 195px;
        right: 44px;
    }
    .teachers__swiper{
        padding-top: calc(60px + (120 - 60) * ((100vw - 320px) / (1160 - 320)));
        padding-bottom: calc(60px + (120 - 60) * ((100vw - 320px) / (1160 - 320)));
    }
    .slide__img {
        height: calc(306px + (500 - 306) * ((100vw - 320px) / (1160 - 320)));
    }
    .slide__title {
        font-size: calc(20px + (24 - 20) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(20px + (24 - 20) * ((100vw - 320px) / (1160 - 320)));
    }
    .slide__text {
        font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(14px + (18 - 14) * ((100vw - 320px) / (1160 - 320)));
    }
    .slide__link {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .price__wrapper {
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .price__block {
        padding: calc(20px + (40 - 20) * ((100vw - 320px) / (1160 - 320)));
    }
    .price__block .btn {
        width: 100%;
        justify-content: center;
        padding: 25px;
    }
    .price__title {
        margin-top: calc(60px + (138 - 60) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(40px + (60 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .price__block-title {
        margin-bottom: calc(40px + (80 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .price__text {
        margin-bottom: calc(40px + (52 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .subscribe {
        margin-top: calc(60px + (140 - 60) * ((100vw - 320px) / (1160 - 320)));
        padding-top: calc(40px + (87 - 40) * ((100vw - 320px) / (1160 - 320)));
        padding-bottom: calc(40px + (87 - 40) * ((100vw - 320px) / (1160 - 320)));
    }
    .subscribe__title  {
        font-size: calc(30px + (36 - 30) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(10px + (20 - 10) * ((100vw - 320px) / (1160 - 320)));
    }
    .subscribe__text {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1160 - 320)));
    }
    .subscribe__container {
        gap: calc(20px + (144 - 20) * ((100vw - 320px) / (1160 - 320)));
    }
    .subscribe__form {
        
    }
    .form__input .input {
        padding: calc(17px + (19 - 17) * ((100vw - 320px) / (1160 - 320)));
    } 
    .subscribe__btn {
        font-size: calc(16px + (18 - 16) * ((100vw - 320px) / (1160 - 320)));
        height: calc(60px + (64 - 60) * ((100vw - 320px) / (1160 - 320)));
    }
    .footer {
        padding-top: calc(17px + (30 - 17) * ((100vw - 320px) / (1160 - 320)));     
        padding-bottom: calc(17px + (30 - 17) * ((100vw - 320px) / (1160 - 320)));  
        padding-right: 15px;
        padding-left: 15px;
    }

    .popup__content {
        height: calc(489px + (768 - 489) * ((100vw - 320px) / (1160 - 320)));
        max-width: calc(300px + (940 - 300) * ((100vw - 320px) / (1160 - 320)));
        padding-left: calc(20px + (30 - 20) * ((100vw - 320px) / (1160 - 320)));
        padding-right: calc(20px + (30 - 20) * ((100vw - 320px) / (1160 - 320)));
    }
    .popup__header {
        gap: calc(10px + (40 - 10) * ((100vw - 320px) / (1160 - 320)));
    }
    .popup__header-text h4 {
        font-size: calc(16px + (24 - 16) * ((100vw - 320px) / (1160 - 320)));
        margin-bottom: calc(5px + (10 - 5) * ((100vw - 320px) / (1160 - 320)));
    }
    .popup__header-text p {
        font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (1160 - 320)));
    }
    .popup__header-image img {
        width: calc(60px + (160 - 60) * ((100vw - 320px) / (1160 - 320)));
        height: calc(88px + (222 - 88) * ((100vw - 320px) / (1160 - 320)));
    }
    .tabs__block {
        font-size: calc(14px + (20 - 14) * ((100vw - 320px) / (1160 - 320)));
    }
    .tabs__body {
        max-height: calc(173px + (345 - 173) * ((100vw - 320px) / (1160 - 320)));
    }
}

@media(max-width: 1023px) {
    .about__numbers {
        flex-wrap: wrap;
    }
    .number {
        flex: 0 1 45%;
    }
    
}


@media(max-width: 940px) {
    .banner__img {
        height: 80%;
    }
    .popup__content {
        max-width: 600px;
    }
    .price__block {
        width: 45%;
    }
}


@media (max-width: 768px) {
    .header__container {
        padding: 30px 15px;
        gap: 15px;
    }
    .site-logo {
        order: 1;
        flex: 1 1 auto;
        position: relative;
    }
    .menu__icon {
        display: block;
        order: 3;
        position: relative;
        z-index: 5;
    }
    .menu__icon::before {
        content: "";
        display: block;
        width: 44px;
        height: 44px;
        background: url("../img/Burdeg.svg") no-repeat center;
        background-size: contain;
    }
    .menu__icon._active::before {
        content: "";
        display: block;
        width: 44px;
        height: 44px;
        background: url("../img/Close.svg") no-repeat center;
        background-size: contain;
    }

    /* .menu__icon{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        order: 3;
    }
    .menu__icon span,
    .menu__icon::before,
    .menu__icon::after {
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu__icon::before,
    .menu__icon::after {
        content: "";
    }
    .menu__icon::before {
        top: 0;
    }
    .menu__icon::after {
        bottom: 0;
    }
    .menu__icon span {
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .menu__icon._active span{
        transform: scale(0) translate(0px, -50%);
    }
    .menu__icon._active::before {
        top: 50%;
        transform:rotate(-45deg) translate(0px, -50%);
    }
    .menu__icon._active::after {
        bottom: 50%;
        transform:rotate(45deg) translate(0px, 50%);
    } */

    .header__menu {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: #141024;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 15px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .header__menu._active {
        left: 0;
    }
    .header__menu::before {
        content: "";
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        height: 104px;
        z-index: 2;
    }

    .menu__list {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu__list > li {
        margin: 0px 0px 20px 0;
    }
    .menu__list > li:last-child {
        margin: 0;
    }
    .menu__link {
        font-size: 30px;
        line-height: 160%; /* 48px */
    }
    .site-phone {
        order: 2;
        position: relative;
    }
    .site-phone::before {
        display: block;
    }
    .site-phone span {
        display: none;
    }

    .banner {
        height: auto;
    }
    .banner .btn {
        order: 4;
        width: 100%;
        text-align: center;
        display: block;
    }
    .banner__content {
        width: 100%;
        height: auto;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
        padding-top: 40px;
    }
    .banner__img {
        position: unset;
        flex: 1 1 auto;
        padding-left: 15px;
        padding-right: 15px;
        order: 3;
        padding-top: 0;
    }
    .banner__img img {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .banner__title {
        width: 100%;
        text-align: center;
        order: 1;
    }
    .banner__text {
        width: 100%;
        order: 2;
        text-align: center;
        margin-bottom: 20px;
    }
    .profit__course {
        flex-wrap: wrap;
    }
    .profit__course-item {
        flex: 0 1 100%;
        text-align: center;
    }
    .section-title {
        text-align: center;
    }
    

    .price__block {
        width: 45%;
    }
    .price__value {
        font-size: 38px;
    }
    .subscribe__container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .subcribe__content {
        width: 100%;
    }
    .subscribe__form {
        width: 100%;
    }
    .footer__phone .site-phone::before{
        display: none;
    }
    .footer__container {
        justify-content: center;
    }
    .footer__copyright {
        text-align: center;
    }
    .footer__phone {
        flex: 0 1 100%;
        text-align: center;
        margin-bottom: 40px;
    }
    .footer__content {
        flex: 0 1 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .popup__close {
        top: 5px;
        right: 5px;
    }
    .popup__close::before {
        display: block;
    }
    .popup__close span{
        display: none;
    }
    .tabs__items {
        flex-direction: column;
        width: 100%;
    }
    .tabs__item {
        flex: 0 1 100%;
        justify-content: center;
        width: 100%;
        padding: 5px;
    }
    .tabs__item.active {
        background-color: #D52027;
        color: white;
    }
}

@media (max-width: 540px) {
    .price__block {
        width: 100%;
    }
}

@media(max-width: 495px) {
    .number {
        flex: 1 0 100%;
        text-align: center;
    }
}

@media(max-width: 420px) {
}